

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
     <div class="card-header">
      <div class="row">
        <div class="col-md-8">
          <span class="card-title">All Staffs</span>
          <input type="text" placeholder="Search" class="header">
        </div>
        <div class="col-md-4">
          <ul class="header-botton">
            <li>
              <div> <i class="mdi mdi-plus" (click)="openMediumModal(mediumModalContent)"> </i></div>
            </li>
            <li>
              <div> <i class="mdi mdi-refresh"> </i></div>
          </li>
  
          </ul>
          
         
        </div>
      </div>
      
    </div>
      <div class="card-body">
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  ID Number
                </th>
                <th>
                  Mobile
                </th>
                <th>
                  Email
                </th>
                <th>
                  Address
                </th>
                <th>
                  Designation
                </th>
                <th>
                  Joining Date
                </th>
                <th>
                   Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face1.jpg" alt="image"/>
                </td>
                <td>
                  Herman Beck
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td>
                  $ 77.99
                </td>
                <td>
                  May 15, 2015
                </td>
                <td>
                  May 15, 2015
                </td>
                <td>
                  May 15, 2015
                </td>
                <td>
                  <i class="mdi mdi-pencil" (click)="openMediumModal(mediumModalContent)"></i>
                  <i class="mdi mdi-delete">  </i>
                </td>
              </tr>
  
             
            </tbody>
          </table>
        </div>
       
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  <!-- edit modal starts from here -->
  
  <!-- <div class="col-md-6 grid-margin stretch-card"> -->
    
        <ng-template #mediumModalContent let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel-2">New Staff</h5>
              <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row">
                <div class="form-group col-md-6">
                  <input type="text" placeholder="Name" class="form-control input-lg" id="inputlg">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" placeholder="Mobile Number" class="form-control input-lg" id="inputlg">
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <input type="text" placeholder="ID number" class="form-control input-lg" id="inputlg">
                </div>
                <div class="form-group col-md-6">
                  <input type="email" placeholder="Email-Id" class="form-control input-lg" id="inputlg">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                <input type="textarea" class="form-control" placeholder="Address" id="recipient-name">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="recipient-name" class="col-form-label">Designation</label>
                  <input type="text" class="form-control" placeholder="Designation" id="recipient-name">
                </div>
                <div class="form-group col-md-6">
                  <label for="message-text" class="col-form-label">Date of Joining</label>
                  <input type="date" class="form-control" id="recipient-name">
                </div>
              </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="modal.close()">Submit</button>
              <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
            </div>
          </div>
        </ng-template>
        <!-- Modal Ends -->


        <!-- delete modal starts here -->


        
        <div class="modal-dialog modal-sm">...</div>
    