

<!-- AIzaSyAcL_yF-mXIJQ3Y_LI7Tlhe1IW0Z_HB4UQ -->





<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
   <div class="card-header">
    <div class="row">
      <div class="col-md-8">
        <span class="card-title">All Bookings</span>
        <input type="text" placeholder="Search" class="header">
      </div>
      <div class="col-md-4">
        <ul class="header-botton">
          <li>
            <div> <i class="mdi mdi-plus" (click)="openMediumModal(mediumModalContent)"> </i></div>
          </li>
          <li>
            <div> <i class="mdi mdi-refresh"> </i></div>
        </li>

        </ul>
        
       
      </div>
    </div>
    
  </div>
    <div class="card-body">
      
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Gender
              </th>
              <th>
                Mobile
              </th>
              <th>
                Email
              </th>
              <th>
                Room Type
              </th>
              <th>
                Check In
              </th>
              <th>
                Check Out
              </th>
              <th>
                 Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-1">
                <img src="assets/images/faces/face1.jpg" alt="image"/>
              </td>
              <td>
                Herman Beck
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td>
                $ 77.99
              </td>
              <td>
                May 15, 2015
              </td>
              <td>
                May 15, 2015
              </td>
              <td>
                May 15, 2015
              </td>
              <td>
                <i class="mdi mdi-pencil" (click)="openMediumModal(mediumModalContent)"></i>
                <i class="mdi mdi-delete" (click)="open(focusFirst)">  </i>
              </td>
            </tr>

           
          </tbody>
        </table>
      </div>
     
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <span class="card-title">All Bookings</span>
    <input ngx-google-places-autocomplete  (onAddressChange)="handleAddressChange($event)"/>  
  </div>

</div>







<!-- modal starts from here -->

<!-- <div class="col-md-6 grid-margin stretch-card"> -->
  
      <ng-template #mediumModalContent let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">New Booking</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="bookingsForm">
              <div class="row">
              <div class="form-group col-md-6">
                <input type="text" placeholder="Name" formControlName="name" class="form-control input-lg" id="inputlg">
              </div>
              <div class="form-group col-md-6">
                <input type="text" placeholder="Mobile Number" formControlName="mobileNo" class="form-control input-lg" id="inputlg">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Check In:Time</label>
                <input type="datetime-local" formControlName="checkIn" class="form-control " id="recipient-name">
              </div>
              <div class="form-group col-md-6">
                <label for="message-text" class="col-form-label">Check Out:Time</label>
                <input type="datetime-local" formControlName="checkOut" class="form-control" id="recipient-name">
              </div>
            </div>

              <div class="row">
              <div class="form-group col-md-6">
                <input type="text" placeholder="Email Id" formControlName="emailId" class="form-control" id="Email-id">
              </div>
              <div class="form-group col-md-6">
                <select id="inputState" formControlName="gender" class="form-control">
                  <option value= "" disabled selected hidden>Gender</option>
                  <option value="male"> Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <!-- <select id="inputState" class="form-control">
                  <option value= "" disabled selected hidden  class="form-control select">Room Type</option>
                  <option >Choose...</option>
                  <option>...</option>
                </select> -->
                <input type="number" placeholder="Room Number" formControlName="roomNo" class="form-control input-lg" id="inputlg">
              </div>
              <div class="form-group col-md-6">
                <input type="text" placeholder="Amount" formControlName="amount" class="form-control input-lg" id="amount">
              </div>
           </div>
            <div class="row">
              <div class="form-group col-md-6">
                  <select id="inputState" formControlName="payment" class="form-control">
                    <option value= "" disabled selected hidden>Payment</option>
                    <option selected>Payment</option>
                    <option value="true">paid</option>
                    <option value="false">Unpaid</option>
                  </select>          
              </div>
            </div>


            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="booking()">Submit</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
          </div>
        </div>
      </ng-template>
      <!-- Modal Ends -->

      <!-- delete modal starts here -->
      <ng-template #focusFirst let-modal>

        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Profile deletion</h4>
          <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Are you sure you want to delete <span class="text-primary">"John Doe"</span> profile?</strong></p>
          <p>All information associated to this user profile will be permanently deleted.
          <span class="text-danger">This operation can not be undone.</span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.dismiss('cancel click')">Cancel</button>
          <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
        </div>

      </ng-template>


  