

// ICONS CSS ATTRIBUTES

.mdi-pencil{
    font-size: 16px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    padding: 7px;
    background:#96A2B4 ;
    border-radius: 30px;
    color: aliceblue;
    margin-right: 7px;
}
.mdi-delete{
    font-size: 16px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    padding: 7px;
    background: #dd2431;
    border-radius: 30px;
    color: aliceblue;  
}
.mdi-plus{
    font-size: 22px;
    // line-height: 24px;
    padding: 10px;
    background: #4051B5;
    border-radius: 12%;
    color: aliceblue;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
    cursor: pointer;
}
.mdi-refresh{
    font-size: 22px;
    // line-height: 24px;
    padding: 10px;
    background: #4051B5;
    border-radius: 12%;
    color: aliceblue;
    margin-left: 10px;
    cursor: pointer;
}
.mdi-pencil:hover{
    background-color:#888888;
    color: #fff;
    cursor: pointer;
}
.mdi-delete:hover{
    background-color: #dd2431;
    cursor: pointer;
}
.modal-content{
    background-color: #ffffff;
}

.modal-header{
    background-color:#E1E1E1;
}
.modal-title{
    font-size: 18px;
    font-weight: 600;
    margin-left: 8px;
    font-family: system-ui;
}
.btn-success{
    background-color: #AE66FF;
    border-color: #AE66FF;
    transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-light{
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    font-family: system-ui;
}
.form-control{
    border-radius: 7px;
    border-color: #c9c5c5;
    border-width: 1px !important;
    line-height: 1.125;
    cursor: pointer;
    color: #726b6b;
}
::placeholder{
    color: #726b6b;

}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #726b6b;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #726b6b;
  }
.form-control:hover{
    border-color: #525050;
    border-width: 2px !important;
}
select.form-control:hover{
    border-color: #141313;
    border-width: 2px !important;
}

.form-control:focus{
    border-color: #4051b5;
    border-width: 2px !important;
 }
 .header{
    border-radius: 20px;
    border-color: transparent;
    padding: 9px 95px 9px 10px;
    margin-left: 13px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 .card-header{
     background-color: #EBEBEE;
     padding-bottom: 18px;
 }
 .card-title{
    margin-top: 10px;
    font-family: system-ui;
    font-size: 20px;
 }
 .header-botton{
    position: absolute;
    right: 20px;
    padding: 6px 8px 8px 8px;
    display: flex;
 }

 ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
 }


 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
